
Debug/Functions.obj
Debug/Menu.obj
Debug/SearchEngine.exe.recipe
Debug/SearchEngine.log
Debug/SearchEngine.tlog/CL.command.1.tlog
Debug/SearchEngine.tlog/CL.read.1.tlog
Debug/SearchEngine.tlog/CL.write.1.tlog
Debug/SearchEngine.tlog/link.command.1.tlog
Debug/SearchEngine.tlog/link.read.1.tlog
Debug/SearchEngine.tlog/link.write.1.tlog
Debug/SearchEngine.tlog/SearchEngine.lastbuildstate
Debug/vc142.idb
Debug/vc142.pdb
Dataset/*/*/*.txt
Dataset/*/*.txt
UTFwtf.txt
UTF8LE.txt
UTF8.txt
UTF16LEoutput.txt
UTF16LE.txt
UTF16.txt
TestLowerCase.txt
Lowcase Result.txt
Lower case matching.py
UTFwtf.txt
UTF8LE.txt
UTF8.txt
UTF16LE.txt
UTF16.txt
TestLowerCase.txt
UTFwtf.txt
UTF8LE.txt
UTF8.txt
UTF16LE.txt
UTF16.txt
TestLowerCase.txt
.vs/SearchEngine/v16/Browse.VC.db
.vs/SearchEngine/v16/Browse.VC.db-shm
.vs/SearchEngine/v16/Browse.VC.db-wal
.vs/SearchEngine/v16/Browse.VC.opendb
.vs/SearchEngine/v16/ipch/AutoPCH/284186720d07cce9/FUNCTIONS.ipch
.vs/SearchEngine/v16/ipch/AutoPCH/f04bb24e741495ad/MENU.ipch
Debug/SearchEngine.pdb
Debug/SearchEngine.tlog/link-cvtres.read.1.tlog
Debug/SearchEngine.tlog/link-cvtres.write.1.tlog
Debug/SearchEngine.tlog/link-rc.read.1.tlog
Debug/SearchEngine.tlog/link-rc.write.1.tlog
Debug/SearchEngine.tlog/unsuccessfulbuild
